<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="">$name</a>
            </div>
            <ul class="nav navbar-nav navbar-right">

            </ul>
        </div>
    </nav>
    <div class="container">
        <h2>$title</h2>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">$date</h5>
            </div>
            <div class="panel-body">
                $text
            </div>
        </div>
    </div>